service/target
dbmodel/target
api/target
service/derby.log


beans/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
beans/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
beans/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst

service/derby.log
service/verifiedUsers.csv

